body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212; 
  margin: 0;
  color: #fff; 
}

.countdown-container {
  text-align: center;
  background-color: #1f1f1f; 
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

h1 {
  color: #f0f8ff; 
  margin-bottom: 20px;
}

#countdown {
  display: flex;
  justify-content: space-between; 
  gap: 20px; 
}

#countdown div {
  background-color: #333; 
  padding: 25px;
  border-radius: 10px;
  width: 100px;
}

#countdown div span {
  font-size: 2.5rem;
  color: #fff; 
}

#countdown div p {
  margin: 0;
  font-size: 1.1rem;
  color: #ccc;
}
